* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  padding-bottom: 1px;
}

body{
  background-color: #000;
  min-width: 640px;
}

h1,h2{
  margin-top: 1em;
  margin-bottom: 1em;
}

div.about{
  font-size: 0.75em;
  margin: 1em;
  padding: 1em;
  border: 1px solid;
  background-color: #FEA;
}

div.main{
  width: 640px;
  margin: 0 auto;
  background-color: #FFF;
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
}

div.footer {
  margin-top: 2em;
  padding: 1em;
  border-top: 1px solid;
  text-align:center;
}

pre{
  font-size: 0.9em;
  margin: 1em;
  padding: 1em;
  border: 1px solid;
  background-color: #FEA;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

ul{
  margin: 1em;
}

p{
  margin: 0.25em;
}

div.footer a:link    { color: #555; }
div.footer a:visited { color: #555; }
div.footer a:hover   { color: #555; }
div.footer a:active  { color: #555; }
