body{
  padding: 4em, 2em;
  font-size: 1em;
}
h1{
  font-size: 2em;
}
div.footer{
  margin-top: 2em;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 0.75em;
}
